<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">


<div class="center-column">

<form method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
    <input class="btn btn-info" type="submit" name="Create Task">
</form>
    <div class="todo-list">
    {% for task in tasks  %}
        <div class="item-row">
            <a class="btn btn-sm btn-info"  href="{% url 'delete' task.id%}">Delete</a>
            <a class="btn btn-sm btn-info"  href="{% url 'update_task' task.id%}">Update</a>
            {% if task.complete == True %}
            <strike>{{task}}</strike>
            {% else %}
            <span>{{task}}</span>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>