<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">


<div class="center-column">
    <form method="POST" action="">
        {% csrf_token %}
        {{form}}
        <input  class="btn btn-info" type="submit" name="Update Task"> 
    </form
</div>
